/* SPDX-License-Identifier: EUPL-1.2 */

.lx {
  --color-brand: #1a71b9;
  --color-interactive-background: #1a71b9;
  --color-interactive-hover-background: #0f5c9c;
  --color-background: hwb(240 92% 6%);
  --color-highlight: #B3D4FF;
  --color-layout-background: #111;
  --color-interactive-secondary-background: #111;
  --color-grid-hover-background: #ddd;
}

.lx.lx-theme-dark {
  --color-brand: #3e98e2;
  --color-interactive-background: #1a71b9;
  --color-interactive-hover-background: #0f5c9c;
  --color-highlight: #B3D4FF;
}